.ul {
  // background-color: $Very-Light-Gray;
  width: min(80%, 50rem);
  margin: 1rem auto;
  border-radius: 0.35rem;
  padding-left: 0;


}
.container {
  display: flex;
  justify-content: space-between;
  padding: 1rem 1.5rem;

  &__span {
    // color: $Dark-Grayish-Blue;
  }

  &__span--btn {
    cursor: pointer;
  }
}
